@using EntityLayer.Dto.ResponseDto
@model ProductDto
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_FrontLayouts.cshtml";
}
<style>
	.checked {
		color: orange;
	}
</style>
<div role="main" class="main">
	<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
			</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb d-block text-center">
						<li><a href="/Product/Index">Anasayfa</a></li>
						<li class="active">Ürün Detay</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container py-4">
		<div class="row">
			<div class="col">
				<div class="blog-posts single-post">
					<article class="post post-large blog-single-post border-0 m-0 p-0">
						<div class="post-image ms-0">
							<a href="blog-post.html">
								<img src="@Model.ProductImage" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="" />
							</a>
						</div>
						<div class="post-date ms-0">
							<span class="day">10</span>
							<span class="month">Jan</span>
						</div>
						<div class="post-content ms-0">
							<h2 class="font-weight-semi-bold"><a href="#">@Model.ProductName</a></h2>

							<span class="fa fa-star checked"></span>
						    <span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
							<p>
								<table class="table border">
									
									<thead>
										@foreach(var i in Model.ProductProperty)
										{
									    	<th>@i.PropertyTitle</th>
										}
									</thead>
									<tbody>
									   <tr>
											@foreach(var j in Model.ProductProperty)
											{
												<td>@j.PropertyText</td>
											}
									   </tr>
									</tbody>
								</table>
							</p>

							<div class="post-block mt-4 pt-2 post-author">
								<h4 class="mb-3">Author</h4>
								<div class="img-thumbnail img-thumbnail-no-borders d-block pb-3">
									<a href="blog-post.html">
										<img src="img/avatars/avatar.jpg" alt="">
									</a>
								</div>
								<p><strong class="name"><a href="#" class="text-4 pb-2 pt-2 d-block">John Doe</a></strong></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui. </p>
							</div>

							<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
														
-							<div id="comments" class="post-block mt-5 post-comments">
								<h4 class="mb-3">Yorumlar @Model.Comment.Count()</h4>

								<ul class="comments">
									@foreach(var i in Model.Comment)
									{
										<li>
											<div class="comment">
												<div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
													<img class="avatar" alt="" src="/demo13/src/media/avatars/blank.png">
												</div>
												<div class="comment-block">
													<div class="comment-arrow"></div>
													<span class="comment-by">
														<strong></strong>
														<span class="float-end">
															<span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
														</span>
													</span>
													<p>@i.CommentText</p>
													<span class="date float-end"></span>
												</div>
											</div>
										</li>
									}
									
								</ul>

							</div>

						</div>
					</article>

				</div>
			</div>
		</div>

	</div>

</div>
