@using EntityLayer.Dto.ResponseDto
@using System.Globalization
@model ProductDto
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_FrontLayouts.cshtml";
}
<div role="main" class="main">
	<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
		<div class="container">
			<div class="row">
				<div class="col-md-12 align-self-center p-static order-2 text-center">
			</div>
				<div class="col-md-12 align-self-center order-1">
					<ul class="breadcrumb d-block text-center">
						<li><a href="/Product/Index">Anasayfa</a></li>
						<li class="active">Ürün Detay</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<input id="prodID" value="@Model.Id" hidden/>
	<div class="container py-4">
		<div class="row">
			<div class="col-md-5 mb-5 mb-md-0">

				<div class="thumb-gallery-wrapper">
					<div class="thumb-gallery-detail owl-carousel owl-theme manual nav-inside nav-style-1 nav-dark mb-3 owl-loaded owl-drag">

						<div class="owl-stage-outer owl-height" style="height: 451px;">
							<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 2305px;">
								<div class="owl-item active" style="width: 451px; margin-right: 10px;">
									<div>
										<img alt="" class="img-fluid" src="@Model.ProductImage" data-zoom-image="@Model.ProductImage">
										<div class="zoomContainer" style="-webkit-transform: translateZ(0);position:absolute;left:0px;top:0px;height:451px;width:451px;"><div class="zoomWindowContainer" style="width: 400px;"><div style="z-index: 999; overflow: hidden; margin-left: 0px; margin-top: 0px; background-position: -104px -104px; width: 451px; height: 451px; float: left; cursor: grab; background-repeat: no-repeat; position: absolute; background-image: url(&quot;img/products/product-grey-7.jpg&quot;); top: 0px; left: 0px; display: none;" class="zoomWindow">&nbsp;</div></div></div>
									</div>
								</div>
							</div>
						</div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"></button><button type="button" role="presentation" class="owl-next"></button></div><div class="owl-dots disabled"></div>
					</div>
					<div class="thumb-gallery-thumbs owl-carousel owl-theme manual thumb-gallery-thumbs owl-loaded owl-drag">
						<div class="owl-stage-outer">
							<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all; width: 583px;">
								<div class="owl-item active selected" style="width: 101.5px; margin-right: 15px;">
									<div class="cur-pointer">
										<img alt="" class="img-fluid" src="@Model.ProductImage">
									</div>
								</div>
							</div>
						</div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<div class="summary entry-summary position-relative">
					<h1 class="mb-0 font-weight-bold text-7">@Model.ProductName</h1>
					<div class="pb-0 clearfix d-flex align-items-center">
						<div title="Rated 3 out of 5" class="float-start">
							@{
								var starCount1 = Math.Floor(Convert.ToDouble(Model.ProductRating, CultureInfo.InvariantCulture));
								int emptyStarCount1 = 5 - Convert.ToInt32(starCount1);
							}
							@for (int i = 0; i < starCount1; i++)
							{
								<span class="fa fa-star checked"></span>
							}
							@for (int i = 0; i < emptyStarCount1; i++)
							{
								<span class="fa fa-star"></span>
							}
						</div>

						<div class="review-num">
							<a href="#description" class="text-decoration-none text-color-default text-color-hover-primary" data-hash="" data-hash-offset="75" data-hash-trigger-click=".nav-link-reviews" data-hash-trigger-click-delay="1000">
								<span class="count text-color-inherit" itemprop="ratingCount">(@Model.Comment.Count()</span> Yorum)
							</a>
						</div>
					</div>

					<div class="divider divider-small">
						<hr class="bg-color-grey-scale-4">
					</div>

					<p class="price mb-3">
						<span class="sale text-color-dark">@Model.ProductPrice ₺</span>
						<span class="amount">Ortalama Fiyat</span>
					</p>
				</div>

			</div>
		</div>
		<div class="row mb-4">
			<div class="col">
				<div id="description" class="tabs tabs-simple tabs-simple-full-width-line tabs-product tabs-dark mb-2">
				<ul class="nav nav-tabs justify-content-start">
						<li class="nav-item">
							<a class="nav-link active font-weight-bold text-3 text-uppercase py-2 px-3" data-bs-toggle="tab" data-bs-target="#OlumluYorumlar">İyi Yorumlar (@Model.Comment.Where(x => x.Prediction == "True").Count())</a>
						</li>
						<li class="nav-item">
							<a class="nav-link font-weight-bold text-3 text-uppercase py-2 px-3" data-bs-toggle="tab" data-bs-target="#OlumsuzYorumlar">Olumsuz Yorumlar (@Model.Comment.Where(x => x.Prediction == "False").Count())</a>
						</li>
					</ul>
					<div class="tab-content p-0">
						<div class="tab-pane fade show active" id="OlumluYorumlar">
							<ul class="comments">
								@foreach (var comment in Model.GroupsComment.Where(x => x.Key == "True").SelectMany(x => x.Value).ToList())
								{
									<li>
										<div class="comment">
											<div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
												<img class="avatar" alt="" src="/demo13/src/media/avatars/blank.png">
											</div>
											<div class="comment-block">
												<div class="comment-arrow"></div>
												<span class="comment-by">
													<strong></strong>
													<span class="float-end">
														<span> <a href="@comment.ProductLink" target="_blank"><i class="fas fa-reply"></i> Yoruma Git</a></span>
													</span>
												</span>
												<p>
													@(comment.CommentText.Length < 20 ? comment.CommentText : comment.CommentText.Substring(0, 20) + "...")
												</p>
												<span class="date float-end"></span>
											</div>
										</div>
									</li>
								}
							</ul>
						</div>
						<div class="tab-pane fade" id="OlumsuzYorumlar">
							<ul class="comments">
								@foreach (var comment in Model.GroupsComment.Where(x => x.Key == "False").SelectMany(x => x.Value).ToList())
								{
									<li>
										<div class="comment">
											<div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
												<img class="avatar" alt="" src="/demo13/src/media/avatars/blank.png">
											</div>
											<div class="comment-block">
												<div class="comment-arrow"></div>
												<span class="comment-by">
													<strong></strong>
													<span class="float-end">
														<span> <a href="@comment.ProductLink" target="_blank"><i class="fas fa-reply"></i> Yoruma Git</a></span>
													</span>
												</span>
												<p>
													@(comment.CommentText.Length < 20 ? comment.CommentText : comment.CommentText.Substring(0, 20) + "...")
												</p>
												<span class="date float-end"></span>
											</div>
										</div>
									</li>
								}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
